logging.file.name={% if logging_file_name is defined %}{{logging_file_name}}{% else %}default_log_value{% endif %}

kafka-ext.bootstrap={% if kafka_ext_bootstrap is defined %}{{kafka_ext_bootstrap}}{% else %}default_bootstrap_value{% endif %}

kafka-ext.security-protocol={% if kafka_ext_security_protocol is defined %}{{kafka_ext_security_protocol}}{% else %}default_protocol_value{% endif %}

kafka-ext.keystore-location={% if kafka_ext_keystore_location is defined %}{{kafka_ext_keystore_location}}{% else %}default_location_value{% endif %}
